.drop-down-text,
.drop-down {

    >.button,
    >.button-outline,
    >.link {

        &:after {
            align-self: center;
            display: inline-flex;
            height: 100%;
            margin-left: $small;
            margin-top: $extra-small;
        }

        @each $color in $arrColorButton {
            &.#{$color} {
                &:after {
                    @include triangle(color-regular-contrast(#{$color}), down, $size: $small, $position: relative, $round: false);
                }
            }
        }
    }

    .drop-down__content {
        display: flex;
        flex-direction: column;
        height: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        transition: $transition;
        z-index: z-index("drop-down");

        &--opened {
            height: auto;
            opacity: 1;
            pointer-events: initial;
        }

        .button {
            border-color: $color-grey;
            margin: 0;
            margin-top: -$border-width;

            &:not(:first-child):not(:last-child) {
                border-radius: 0;
            }

            &:first-child {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                margin-top: -($border-width + 1);
            }

            &:last-child {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }
}