.column {
    flex-direction: column;
    height: 100%;
}

.row {
    flex: 0 1 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.column,
.row {
    display: flex;
}

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rotate-45 {
    transform: rotate(45deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.hide {
    pointer-events: none;
    visibility: hidden;
}

.hide-tablet {
    @include tablet {
        display: none;
    }
}

.hide-tablet-landscape {
    @include tablet-landscape {
        display: none;
    }
}

.hide-notebook {
    @include notebook {
        display: none;
    }
}

.hide-desktop {
    @include desktop {
        display: none;
    }
}

.hide-full-hd {
    @include full-hd {
        display: none;
    }
}