// #loadingMain {
//     position: fixed;
//     top: 0;
//     left: 0;
//     // z-index: z-index("loading-main");
//     width: 100vw;
//     height: 100vh;
//     opacity: 1;
//     transition: $transition;
//     overflow: hidden;
//     display: flex;

//     .progress-bar {
//         width: 0;
//     }
// }

// .loading-main-done {
//     opacity: 0 !important;
//     transition: $transition;
//     pointer-events: none;
// }


.loading-1 {
    animation: load5 1.3s infinite linear;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);

    &--extra-small {
        font-size: $extra-small;
        height: $extra-small;
        margin: $extra-small;
        width: $extra-small;
    }

    &--small {
        font-size: $small;
        height: $small;
        margin: $small;
        width: $small;
    }

    &--regular {
        font-size: $regular;
        height: $regular;
        margin: $regular;
        width: $regular;
    }

    &--big {
        font-size: $big;
        height: $big;
        margin: $big;
        width: $big;
    }

    &--extra-big {
        font-size: $extra-big;
        height: $extra-big;
        margin: $extra-big;
        width: $extra-big;
    }

    @keyframes load5 {

        0%,
        100% {
            box-shadow: 0 -1.5em 0 0.1em, 1em -1em 0 0em, 1.5em 0 0 -0.5em, 1em 1em 0 -0.5em, 0 1.5em 0 -0.5em,
                -1em 1em 0 -0.5em, -1.5em 0 0 -0.5em, -1em -1em 0 0;
        }

        12.5% {
            box-shadow: 0 -1.5em 0 0, 1em -1em 0 0.1em, 1.5em 0 0 0, 1em 1em 0 -0.5em, 0 1.5em 0 -0.5em, -1em 1em 0 -0.5em,
                -1.5em 0 0 -0.5em, -1em -1em 0 -0.5em;
        }

        25% {
            box-shadow: 0 -1.5em 0 -0.5em, 1em -1em 0 0, 1.5em 0 0 0.1em, 1em 1em 0 0, 0 1.5em 0 -0.5em, -1em 1em 0 -0.5em,
                -1.5em 0 0 -0.5em, -1em -1em 0 -0.5em;
        }

        37.5% {
            box-shadow: 0 -1.5em 0 -0.5em, 1em -1em 0 -0.5em, 1.5em 0em 0 0, 1em 1em 0 0.1em, 0 1.5em 0 0em, -1em 1em 0 -0.5em,
                -1.5em 0em 0 -0.5em, -1em -1em 0 -0.5em;
        }

        50% {
            box-shadow: 0 -1.5em 0 -0.5em, 1em -1em 0 -0.5em, 1.5em 0 0 -0.5em, 1em 1em 0 0em, 0 1.5em 0 0.1em, -1em 1em 0 0,
                -1.5em 0em 0 -0.5em, -1em -1em 0 -0.5em;
        }

        62.5% {
            box-shadow: 0 -1.5em 0 -0.5em, 1em -1em 0 -0.5em, 1.5em 0 0 -0.5em, 1em 1em 0 -0.5em, 0 1.5em 0 0,
                -1em 1em 0 0.1em, -1.5em 0 0 0, -1em -1em 0 -0.5em;
        }

        75% {
            box-shadow: 0em -1.5em 0 -0.5em, 1em -1em 0 -0.5em, 1.5em 0em 0 -0.5em, 1em 1em 0 -0.5em, 0 1.5em 0 -0.5em,
                -1em 1em 0 0, -1.5em 0em 0 0.1em, -1em -1em 0 0;
        }

        87.5% {
            box-shadow: 0em -1.5em 0 0, 1em -1em 0 -0.5em, 1.5em 0 0 -0.5em, 1em 1em 0 -0.5em, 0 1.5em 0 -0.5em, -1em 1em 0 0,
                -1.5em 0em 0 0, -1em -1em 0 0.1em;
        }
    }

    @each $color in $arrColorLoading {
        &--#{$color} {
            color: color-regular(#{$color});
        }
    }
}

.loading-2 {
    animation: sk-rotateplane 1.2s infinite ease-in-out;
    display: inline-block;

    &--extra-small {
        height: $extra-small;
        margin: $extra-small;
        padding: $extra-small;
        width: $extra-small;
    }

    &--small {
        height: $small;
        margin: $small;
        padding: $small;
        width: $small;
    }

    &--regular {
        height: $regular;
        margin: $regular;
        padding: $regular;
        width: $regular;
    }

    &--big {
        height: $big;
        margin: $big;
        padding: $big;
        width: $big;
    }

    &--extra-big {
        height: $extra-big;
        margin: $extra-big;
        padding: $extra-big;
        width: $extra-big;
    }


    @keyframes sk-rotateplane {
        0% {
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        }

        50% {
            transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
        }

        100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
        }
    }

    @each $color in $arrColorLoading {
        &--#{$color} {
            background-color: color-regular(#{$color});
        }
    }
}