{% set arrSlide = [
['SASS,  Gulp JS, Nunjuck, Font Awasome' , 'cyan'],
['Lazyload for images' , 'orange'],
['Size: <br/> extra small, small, regular, big, extra big' , 'red']
] %}

<div class="page-home">
    <div class="carousel" data-current-slide="0" data-style="{{style}}">
        <ul class="carousel__list">
            {% for slide in arrSlide %}
            <li class="carousel__item background-{{slide[1]}}">
                {{slide[0] | safe}}
            </li>
            {% endfor %}
        </ul>
        <div class="carousel__arrow button-wrapper row center">
            <button type="button" class="button button--regular" data-id="previous" aria-label="previous">
                <svg class="icon icon--extra-big">
                    <use xlink:href="./assets/img/icon.svg#previous"></use>
                </svg>
            </button>
            <button type="button" class="button button--regular" data-id="next" aria-label="next">
                <svg class="icon icon--extra-big rotate-180">
                    <use xlink:href="./assets/img/icon.svg#previous"></use>
                </svg>
            </button>
        </div>
        <div class="carousel__controller over button-wrapper row center"></div>
    </div>
</div>