{% for size in arrSize %}
{% if size !== 'fu' %}
<div class="row">
    <div class="col-es-12">
        <h2 class="page__sub-title">Pagination {{size}}</h2>
    </div>
    {% for color in arrColor %}
    <div class="col-es-12">
        <div class="padding-re">
            <nav class="menu menu-horizontal pagination">
                <ul>
                    <li>
                        <a href="javascript:;" class="{{size}} button {{color}}" aria-label="first page">
                            <span aria-hidden="true">&#10094;&#10094;</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="{{size}} button {{color}}" aria-label="previous">
                            <span aria-hidden="true">&#10094;</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="{{size}} button {{color}}">
                            1
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="{{size}} button {{color}} active">
                            2
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="{{size}} button {{color}}">
                            3
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="{{size}} button {{color}}" aria-label="next">
                            <span aria-hidden="true">&#10095;</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="{{size}} button {{color}}" aria-label="last page">
                            <span aria-hidden="true">&#10095;&#10095;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endfor %}